In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import joblib
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.ensemble import RandomForestRegressor

In [2]:
import sys
print(sys.executable)

c:\Users\nahue\Documents\Ceia\Analisis de Datos\venv\Scripts\python.exe

In [6]:
producto = pd.read_csv("productos.csv", sep="|", encoding="latin1", dtype=str)
producto.to_pickle('producto.pkl')
comercio = pd.read_csv("comercio.csv", sep="|", encoding="latin1", dtype=str)
comercio.to_pickle('comercio.pkl')
sucursal = pd.read_csv("sucursales.csv", sep="|", encoding="latin1", dtype=str)
sucursal.to_pickle('sucursal.pkl')
dato = pd.read_csv("datos.csv", encoding="latin1", dtype=str)
dato.to_pickle('dato.pkl')

In [5]:


archivo_csv = "productos.csv"
encodings_a_probar = ['utf-8', 'latin1', 'iso-8859-1', 'cp1252', 'utf-8-sig']

for enc in encodings_a_probar:
    try:
        print(f"Intentando con el encoding: {enc}")
        df = pd.read_csv(archivo_csv, sep="|", encoding=enc, dtype=str)
        print("¡Éxito! El archivo se leyó correctamente.")
        print("Primeras filas del DataFrame:")
        print(df.head())
        # Si funciona, salimos del bucle
        break
    except UnicodeDecodeError:
        print(f"Falló. El encoding '{enc}' no es el correcto.\n")
    except Exception as e:
        print(f"Ocurrió un error inesperado con {enc}: {e}\n")

Intentando con el encoding: utf-8
¡Éxito! El archivo se leyó correctamente.
Primeras filas del DataFrame:
  id_comercio id_bandera id_sucursal    id_producto productos_ean  \
0          10          1          63  7790770601899             1
1          10          3         711  7790070318398             1
2          10          1          44  7622201808860             1
3          10          2          62  7791293050089             1
4          10          1         147  7791905023210             1

                               productos_descripcion  \
0         TOALLA NOSOTRAS CLASICAS C CALENDULA X 16U
1         FIDEOS DEDALITOS LUCCHETTI BOLSA X 500 GRS
2        GALLETITAS BOCA DE DAMA TERRABUSI X 170 GRS
3  ACONDICIONADOR LISO EFECTO BOTOX TRESEMME X 25...
4                     LAVANDINA ORIGINAL ODEX X 2 LT

  productos_cantidad_presentacion productos_unidad_medida_presentacion  \
0                               1                                  UNI
1                               1                                  UNI
2                               1                                  UNI
3                               1                                  UNI
4                               1                                  UNI

  productos_marca productos_precio_lista productos_precio_referencia  \
0        NOSOTRAS                2709.00                      169.31
1       LUCCHETTI                1439.00                     2878.00
2       TERRABUSI                1059.00                     6229.41
3        TRESEMME                4455.00                    17820.00
4            ODEX                1900.00                      950.00

  productos_cantidad_referencia productos_unidad_medida_referencia  \
0                            16                                UNI
1                           500                                GRM
2                           170                                GRM
3                           250                                CM3
4                          2000                                CM3

  productos_precio_unitario_promo1 productos_leyenda_promo1  \
0                              NaN                      NaN
1                              NaN                      NaN
2                              NaN                      NaN
3                              NaN                      NaN
4                              NaN                      NaN

  productos_precio_unitario_promo2 productos_leyenda_promo2
0                              NaN                      NaN
1                              NaN                      NaN
2                              NaN                      NaN
3                              NaN                      NaN
4                              NaN                      NaN

In [6]:
df

,id_comercio,id_bandera,id_sucursal,id_producto,productos_ean,productos_descripcion,productos_cantidad_presentacion,productos_unidad_medida_presentacion,productos_marca,productos_precio_lista,productos_precio_referencia,productos_cantidad_referencia,productos_unidad_medida_referencia,productos_precio_unitario_promo1,productos_leyenda_promo1,productos_precio_unitario_promo2,productos_leyenda_promo2
0,10,1,63,7790770601899,1,TOALLA NOSOTRAS CLASICAS C CALENDULA X 16U,1,UNI,NOSOTRAS,2709.00,169.31,16,UNI,NaN,NaN,NaN,NaN
1,10,3,711,7790070318398,1,FIDEOS DEDALITOS LUCCHETTI BOLSA X 500 GRS,1,UNI,LUCCHETTI,1439.00,2878.00,500,GRM,NaN,NaN,NaN,NaN
2,10,1,44,7622201808860,1,GALLETITAS BOCA DE DAMA TERRABUSI X 170 GRS,1,UNI,TERRABUSI,1059.00,6229.41,170,GRM,NaN,NaN,NaN,NaN
3,10,2,62,7791293050089,1,ACONDICIONADOR LISO EFECTO BOTOX TRESEMME X 25...,1,UNI,TRESEMME,4455.00,17820.00,250,CM3,NaN,NaN,NaN,NaN
4,10,1,147,7791905023210,1,LAVANDINA ORIGINAL ODEX X 2 LT,1,UNI,ODEX,1900.00,950.00,2000,CM3,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2944406,10,3,442,7798158671182,1,SNACK PERROS GOLOCAN BOCADITOS CARNE CHOCO 100GRS,1,UNI,GOLOCAN,2130.00,2130.00,1,UNI,NaN,NaN,NaN,NaN
2944407,10,1,149,7790895647659,1,AGUA DE MESA SIN GAS BENEDICTINO PET X 1.5 LT,1,UNI,BENEDICTINO,1519.00,1012.67,1500,CM3,NaN,NaN,NaN,NaN
2944408,10,3,669,7791720029992,1,CHOCLO CREMOSO AMARILLO CLASSIC LATA X 300 GRS,1,UNI,CARREFOUR CLASSIC,999.00,3330.00,300,GRM,NaN,NaN,NaN,NaN
2944409,10,3,441,7794529041608,1,TOSTADAS GRUESAS CLASICAS TOSTI X 200 GRS,1,UNI,TOSTI,1700.00,8500.00,200,GRM,NaN,NaN,NaN,NaN
2944410,Ultima actualización: 2025-06-27T05:13:49-03:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
producto = pd.read_csv("productos.csv", sep="|", encoding="latin1", dtype=str)
producto.sample(25)

,ï»¿id_comercio,id_bandera,id_sucursal,id_producto,productos_ean,productos_descripcion,productos_cantidad_presentacion,productos_unidad_medida_presentacion,productos_marca,productos_precio_lista,productos_precio_referencia,productos_cantidad_referencia,productos_unidad_medida_referencia,productos_precio_unitario_promo1,productos_leyenda_promo1,productos_precio_unitario_promo2,productos_leyenda_promo2
1233126,10,3,561,7793147001025,1,CERVEZA BLANCA SCHNEIDER BOTELLA RET X 1 LT,1,UNI,SCHNEIDER,3300.00,3300.00,1000,CM3,NaN,NaN,NaN,NaN
1041929,10,1,217,7790040142527,1,CEREALES FORMIS POPCORN ARCOR X 145 GRS,1,UNI,FORMIS,1679.00,11579.31,145,GRM,NaN,NaN,NaN,NaN
4180,10,1,175,3616958808598,1,JUEGO DE PIZZA DE 15 PIEZAS,1,UNI,GENERICO,15990.00,15990.00,1,UNI,NaN,NaN,NaN,NaN
2858740,10,3,787,7791720017173,1,MADALENAS DE COCO RELL DDL CARREFOUR BOLSA X 2...,1,UNI,CARREFOUR,1890.00,8790.70,215,GRM,NaN,NaN,NaN,NaN
2920380,10,1,18,7791554020196,1,OLEO CALCAREO BENARE X 500 CC,1,UNI,BENARE,4159.00,8318.00,500,CM3,NaN,NaN,NaN,NaN
1447993,10,1,50,7790538010260,1,NACHOS MACRITAS QUESO BOLSA X 150 GRS,1,UNI,MACRITAS,3060.00,20400.00,150,GRM,NaN,NaN,NaN,NaN
890704,10,2,176,7509552874129,1,ACONDICIONADOR COCO HAIR FOOD FRUCTIS X 300 CC,1,UNI,FRUCTIS,7700.00,25666.67,300,CM3,NaN,NaN,NaN,NaN
245718,10,3,686,7791720036747,1,QUESO GOUDA EN TROZO X 200 GRS BULNEZ,1,UNI,S/D,3550.00,17750.00,200,GRM,NaN,NaN,NaN,NaN
1543479,10,2,203,7798256540144,1,QUESOJA 100% VEGETAL SIN TACC X 360 GRS.,1,UNI,S/D,4729.00,13136.11,360,GRM,NaN,NaN,NaN,NaN
1110941,10,3,376,7791720037096,1,OBLEAS VAINILLA BULNEZ X 50 GRS,1,UNI,BULNEZ,490.00,9800.00,50,GRM,NaN,NaN,NaN,NaN
344804,10,2,132,7798004241255,1,BAY BISCUIT X 100 GRS,1,UNI,BAY BISCUIT,1450.00,14500.00,100,GRM,NaN,NaN,NaN,NaN
2177175,10,3,309,7793742007897,1,CREMA FACIAL HIDRATANTE DERMAGLOS X 50 GRS,1,UNI,DERMAGLOS,12730.00,254600.00,50,GRM,NaN,NaN,NaN,NaN
758592,10,3,354,7790387014136,1,YERBA MATE 4 FLEX LIVIANA UNION X 1 KG,1,UNI,UNION,5039.00,5039.00,1000,GRM,NaN,NaN,NaN,NaN
2573368,10,2,143,7793253002565,1,QUITAMANCHAS ROPA COLOR POLVO AYUDIN DP X 450 GRS,1,UNI,AYUDIN,7700.00,17111.11,450,GRM,NaN,NaN,NaN,NaN
2469937,10,1,112,7798194560051,1,PRESERVATIVO EXTRA LUBRICADO PLAYBOY CAJA X 3 UNI,1,UNI,PLAYBOY,2799.00,933.00,3,UNI,NaN,NaN,NaN,NaN
47428,10,1,51,7790940216151,1,TOALLITA C ALAS POCKET SUAVES DONCELLA X 8 UNI,1,UNI,DONCELLA,859.00,107.38,8,UNI,NaN,NaN,NaN,NaN
91583,10,2,212,7791250003110,1,VODKA ICE ORIGINAL SMIRNOFF LATA X 473 CC,1,UNI,SMIRNOFF,2999.00,6340.38,473,CM3,NaN,NaN,NaN,NaN
1686675,10,1,41,7891150029293,1,JABON LIQUIDO KARITE DOVE X 250 CC,1,UNI,DOVE,3969.00,15876.00,250,CM3,NaN,NaN,NaN,NaN
477952,10,1,22,0021200711077,1,CINTA PARA ENMASCARAR SCOTCH 2020 36AP 36MM X 55M,1,UNI,SCOTCH,18715.00,18715.00,1,UNI,NaN,NaN,NaN,NaN
201553,10,2,244,7790310985571,1,NACHOS SABOR QUESO DORITOS X 200 GRS,1,UNI,DORITOS,5979.00,29895.00,200,GRM,NaN,NaN,NaN,NaN
1690580,10,3,645,7790070040046,1,PIZZA MOZZARELLA Y JAMON SIBARITA CAJA X 530 GRM,1,UNI,SIBARITA,12829.00,24205.66,530,GRM,NaN,NaN,NaN,NaN
750048,10,3,475,7790315100184,1,AGUA SABORIZADA CERO MANZ S G LEVITE X 500CC,1,UNI,LEVITE,1599.00,3198.00,500,CM3,NaN,NaN,NaN,NaN
1739936,10,1,162,4894319783138,1,HUEVO SORPRESA CON DINOSAURIOS,1,UNI,GENERICO,7990.00,7990.00,1,UNI,NaN,NaN,NaN,NaN
1350084,10,1,11,7793008017394,1,TRATAMIENTO CAPILAR SHOCK NUTRICION ISSUE X150GRS,1,UNI,ISSUE,3650.00,24333.33,150,GRM,NaN,NaN,NaN,NaN
2730937,10,2,101,7891024027226,1,JABON LIQUIDO BALANCE PROTEX DP X 200 CC,1,UNI,PROTEX,1959.00,9795.00,200,CM3,NaN,NaN,NaN,NaN

In [ ]:
producto

In [8]:
producto = producto.rename(columns={"ï»¿id_comercio": "id_comercio"})
producto.sample(2)

,id_comercio,id_bandera,id_sucursal,id_producto,productos_ean,productos_descripcion,productos_cantidad_presentacion,productos_unidad_medida_presentacion,productos_marca,productos_precio_lista,productos_precio_referencia,productos_cantidad_referencia,productos_unidad_medida_referencia,productos_precio_unitario_promo1,productos_leyenda_promo1,productos_precio_unitario_promo2,productos_leyenda_promo2
1461892,10,1,162,5000299628034,1,WHISKY IMPORTADO 7 ANOS BALLANTINES BOUR FINX7...,1,UNI,BALLANTINES,50019.00,71455.71,700,CM3,NaN,NaN,NaN,NaN
1014307,10,1,31,7792129004535,1,EDULCORANTE LIQUIDO SACARINA CHUKER X 200 CC,1,UNI,CHUKER,2900.00,14500.00,200,GRM,NaN,NaN,NaN,NaN

In [ ]:
producto['id_bandera'].unique() #array(['1', '3', '2', nan], dtype=object)

array(['1', '3', '2', nan], dtype=object)

In [7]:
producto = pd.read_pickle('producto.pkl')
comercio = pd.read_pickle('comercio.pkl')
sucursal = pd.read_pickle('sucursal.pkl')
dato = pd.read_pickle('dato.pkl')

In [9]:
dataframes = [
    ("producto", producto),
    ("comercio", comercio),
    ("sucursal", sucursal),
    ("dato", dato)
]

In [12]:
df =producto
df.columns

Index(['ï»¿id_comercio', 'id_bandera', 'id_sucursal', 'id_producto',
       'productos_ean', 'productos_descripcion',
       'productos_cantidad_presentacion',
       'productos_unidad_medida_presentacion', 'productos_marca',
       'productos_precio_lista', 'productos_precio_referencia',
       'productos_cantidad_referencia', 'productos_unidad_medida_referencia',
       'productos_precio_unitario_promo1', 'productos_leyenda_promo1',
       'productos_precio_unitario_promo2', 'productos_leyenda_promo2'],
      dtype='object')

In [13]:
df

,ï»¿id_comercio,id_bandera,id_sucursal,id_producto,productos_ean,productos_descripcion,productos_cantidad_presentacion,productos_unidad_medida_presentacion,productos_marca,productos_precio_lista,productos_precio_referencia,productos_cantidad_referencia,productos_unidad_medida_referencia,productos_precio_unitario_promo1,productos_leyenda_promo1,productos_precio_unitario_promo2,productos_leyenda_promo2
0,10,1,63,7790770601899,1,TOALLA NOSOTRAS CLASICAS C CALENDULA X 16U,1,UNI,NOSOTRAS,2709.00,169.31,16,UNI,NaN,NaN,NaN,NaN
1,10,3,711,7790070318398,1,FIDEOS DEDALITOS LUCCHETTI BOLSA X 500 GRS,1,UNI,LUCCHETTI,1439.00,2878.00,500,GRM,NaN,NaN,NaN,NaN
2,10,1,44,7622201808860,1,GALLETITAS BOCA DE DAMA TERRABUSI X 170 GRS,1,UNI,TERRABUSI,1059.00,6229.41,170,GRM,NaN,NaN,NaN,NaN
3,10,2,62,7791293050089,1,ACONDICIONADOR LISO EFECTO BOTOX TRESEMME X 25...,1,UNI,TRESEMME,4455.00,17820.00,250,CM3,NaN,NaN,NaN,NaN
4,10,1,147,7791905023210,1,LAVANDINA ORIGINAL ODEX X 2 LT,1,UNI,ODEX,1900.00,950.00,2000,CM3,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2944406,10,3,442,7798158671182,1,SNACK PERROS GOLOCAN BOCADITOS CARNE CHOCO 100GRS,1,UNI,GOLOCAN,2130.00,2130.00,1,UNI,NaN,NaN,NaN,NaN
2944407,10,1,149,7790895647659,1,AGUA DE MESA SIN GAS BENEDICTINO PET X 1.5 LT,1,UNI,BENEDICTINO,1519.00,1012.67,1500,CM3,NaN,NaN,NaN,NaN
2944408,10,3,669,7791720029992,1,CHOCLO CREMOSO AMARILLO CLASSIC LATA X 300 GRS,1,UNI,CARREFOUR CLASSIC,999.00,3330.00,300,GRM,NaN,NaN,NaN,NaN
2944409,10,3,441,7794529041608,1,TOSTADAS GRUESAS CLASICAS TOSTI X 200 GRS,1,UNI,TOSTI,1700.00,8500.00,200,GRM,NaN,NaN,NaN,NaN
2944410,Ultima actualizaciÃ³n: 2025-06-27T05:13:49-03:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
for name, df in dataframes:
    print(f"\n{'='*40}")
    print(f"📊 Análisis del DataFrame: {name}")
    print(f"{'='*40}")
    
    print("👉 Columnas:")
    print(df.columns.tolist())
    
    print("\n👉 Info:")
    df.info()
    
    print("\n👉 Primeras filas:")
    print(df.head())
    
    print("\n👉 Descripción estadística:")
    print(df.describe(include='all'))

========================================
📊 Análisis del DataFrame: producto
========================================
👉 Columnas:
['ï»¿id_comercio', 'id_bandera', 'id_sucursal', 'id_producto', 'productos_ean', 'productos_descripcion', 'productos_cantidad_presentacion', 'productos_unidad_medida_presentacion', 'productos_marca', 'productos_precio_lista', 'productos_precio_referencia', 'productos_cantidad_referencia', 'productos_unidad_medida_referencia', 'productos_precio_unitario_promo1', 'productos_leyenda_promo1', 'productos_precio_unitario_promo2', 'productos_leyenda_promo2']

👉 Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2944411 entries, 0 to 2944410
Data columns (total 17 columns):
 #   Column                                Dtype
---  ------                                -----
 0   ï»¿id_comercio                        object
 1   id_bandera                            object
 2   id_sucursal                           object
 3   id_producto                           object
 4   productos_ean                         object
 5   productos_descripcion                 object
 6   productos_cantidad_presentacion       object
 7   productos_unidad_medida_presentacion  object
 8   productos_marca                       object
 9   productos_precio_lista                object
 10  productos_precio_referencia           object
 11  productos_cantidad_referencia         object
 12  productos_unidad_medida_referencia    object
 13  productos_precio_unitario_promo1      object
 14  productos_leyenda_promo1              object
 15  productos_precio_unitario_promo2      object
 16  productos_leyenda_promo2              object
dtypes: object(17)
memory usage: 381.9+ MB

👉 Primeras filas:
  ï»¿id_comercio id_bandera id_sucursal    id_producto productos_ean  \
0             10          1          63  7790770601899             1
1             10          3         711  7790070318398             1
2             10          1          44  7622201808860             1
3             10          2          62  7791293050089             1
4             10          1         147  7791905023210             1

                               productos_descripcion  \
0         TOALLA NOSOTRAS CLASICAS C CALENDULA X 16U
1         FIDEOS DEDALITOS LUCCHETTI BOLSA X 500 GRS
2        GALLETITAS BOCA DE DAMA TERRABUSI X 170 GRS
3  ACONDICIONADOR LISO EFECTO BOTOX TRESEMME X 25...
4                     LAVANDINA ORIGINAL ODEX X 2 LT

  productos_cantidad_presentacion productos_unidad_medida_presentacion  \
0                               1                                  UNI
1                               1                                  UNI
2                               1                                  UNI
3                               1                                  UNI
4                               1                                  UNI

  productos_marca productos_precio_lista productos_precio_referencia  \
0        NOSOTRAS                2709.00                      169.31
1       LUCCHETTI                1439.00                     2878.00
2       TERRABUSI                1059.00                     6229.41
3        TRESEMME                4455.00                    17820.00
4            ODEX                1900.00                      950.00

  productos_cantidad_referencia productos_unidad_medida_referencia  \
0                            16                                UNI
1                           500                                GRM
2                           170                                GRM
3                           250                                CM3
4                          2000                                CM3

  productos_precio_unitario_promo1 productos_leyenda_promo1  \
0                              NaN                      NaN
1                              NaN                      NaN
2                              NaN                      NaN
3                              NaN                      NaN
4                              NaN                      NaN

  productos_precio_unitario_promo2 productos_leyenda_promo2
0                              NaN                      NaN
1                              NaN                      NaN
2                              NaN                      NaN
3                              NaN                      NaN
4                              NaN                      NaN

👉 Descripción estadística:
       ï»¿id_comercio id_bandera id_sucursal    id_producto productos_ean  \
count         2944411    2944410     2944410        2944410       2944410
unique              2          3         567          34367             2
top                10          1          15  7798159715991             1
freq          2944410    1283384       22541            567       2889562

                                   productos_descripcion  \
count                                            2944410
unique                                             33662
top     ALIMENTO GATOS HUMEDO CAT CHOW POUCH POLLO 85GRS
freq                                                1102

       productos_cantidad_presentacion productos_unidad_medida_presentacion  \
count                          2944410                              2944410
unique                               1                                    6
top                                  1                                  UNI
freq                           2944410                              2887910

       productos_marca productos_precio_lista productos_precio_referencia  \
count          2944410                2944410                     2944410
unique            2132                  11165                       39481
top                S/D                1090.00                     3990.00
freq            248051                  20842                       12008

       productos_cantidad_referencia productos_unidad_medida_referencia  \
count                        2944410                            2944410
unique                           403                                 14
top                                1                                GRM
freq                          683104                            1293781

       productos_precio_unitario_promo1  \
count                            130134
unique                             4179
top                             1700.00
freq                               3170

                                 productos_leyenda_promo1  \
count                                              130134
unique                                                241
top     Promo A valida desde el 24/06/2025 hasta 30/06...
freq                                                41133

       productos_precio_unitario_promo2 productos_leyenda_promo2
count                                 0                        0
unique                                0                        0
top                                 NaN                      NaN
freq                                NaN                      NaN

========================================
📊 Análisis del DataFrame: comercio
========================================
👉 Columnas:
['ï»¿id_comercio', 'id_bandera', 'comercio_cuit', 'comercio_razon_social', 'comercio_bandera_nombre', 'comercio_bandera_url', 'comercio_ultima_actualizacion', 'comercio_version_sepa']

👉 Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ï»¿id_comercio                 4 non-null      object
 1   id_bandera                     3 non-null      object
 2   comercio_cuit                  3 non-null      object
 3   comercio_razon_social          3 non-null      object
 4   comercio_bandera_nombre        3 non-null      object
 5   comercio_bandera_url           3 non-null      object
 6   comercio_ultima_actualizacion  3 non-null      object
 7   comercio_version_sepa          3 non-null      object
dtypes: object(8)
memory usage: 388.0+ bytes

👉 Primeras filas:
                                     ï»¿id_comercio id_bandera comercio_cuit  \
0                                                10          2   30687310434
1                                                10          1   30687310434
2                                                10          3   30687310434
3  Ultima actualizaciÃ³n: 2025-06-27T04:30:07-03:00        NaN           NaN

  comercio_razon_social comercio_bandera_nombre  comercio_bandera_url  \
0              INC S.A.                  Market  www.carrefour.com.ar
1              INC S.A.  Hipermercado Carrefour  www.carrefour.com.ar
2              INC S.A.                 Express  www.carrefour.com.ar
3                   NaN                     NaN                   NaN

  comercio_ultima_actualizacion comercio_version_sepa
0     2025-06-27T04:30:07-03:00                   1.0
1     2025-06-27T04:30:07-03:00                   1.0
2     2025-06-27T04:30:07-03:00                   1.0
3                           NaN                   NaN

👉 Descripción estadística:
       ï»¿id_comercio id_bandera comercio_cuit comercio_razon_social  \
count               4          3             3                     3
unique              2          3             1                     1
top                10          2   30687310434              INC S.A.
freq                3          1             3                     3

       comercio_bandera_nombre  comercio_bandera_url  \
count                        3                     3
unique                       3                     1
top                     Market  www.carrefour.com.ar
freq                         1                     3

       comercio_ultima_actualizacion comercio_version_sepa
count                              3                     3
unique                             1                     1
top        2025-06-27T04:30:07-03:00                   1.0
freq                               3                     3

========================================
📊 Análisis del DataFrame: sucursal
========================================
👉 Columnas:
['ï»¿id_comercio', 'id_bandera', 'id_sucursal', 'sucursales_nombre', 'sucursales_tipo', 'sucursales_calle', 'sucursales_numero', 'sucursales_latitud', 'sucursales_longitud', 'sucursales_observaciones', 'sucursales_barrio', 'sucursales_codigo_postal', 'sucursales_localidad', 'sucursales_provincia', 'sucursales_lunes_horario_atencion', 'sucursales_martes_horario_atencion', 'sucursales_miercoles_horario_atencion', 'sucursales_jueves_horario_atencion', 'sucursales_viernes_horario_atencion', 'sucursales_sabado_horario_atencion', 'sucursales_domingo_horario_atencion']

👉 Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568 entries, 0 to 567
Data columns (total 21 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   ï»¿id_comercio                         568 non-null    object
 1   id_bandera                             567 non-null    object
 2   id_sucursal                            567 non-null    object
 3   sucursales_nombre                      567 non-null    object
 4   sucursales_tipo                        567 non-null    object
 5   sucursales_calle                       567 non-null    object
 6   sucursales_numero                      563 non-null    object
 7   sucursales_latitud                     567 non-null    object
 8   sucursales_longitud                    567 non-null    object
 9   sucursales_observaciones               18 non-null     object
 10  sucursales_barrio                      303 non-null    object
 11  sucursales_codigo_postal               567 non-null    object
 12  sucursales_localidad                   567 non-null    object
 13  sucursales_provincia                   567 non-null    object
 14  sucursales_lunes_horario_atencion      567 non-null    object
 15  sucursales_martes_horario_atencion     567 non-null    object
 16  sucursales_miercoles_horario_atencion  567 non-null    object
 17  sucursales_jueves_horario_atencion     567 non-null    object
 18  sucursales_viernes_horario_atencion    567 non-null    object
 19  sucursales_sabado_horario_atencion     567 non-null    object
 20  sucursales_domingo_horario_atencion    567 non-null    object
dtypes: object(21)
memory usage: 93.3+ KB

👉 Primeras filas:
  ï»¿id_comercio id_bandera id_sucursal              sucursales_nombre  \
0             10          3         365                     Nazca 1944
1             10          3         408                      PerÃº 916
2             10          2         144                    La Plata II
3             10          3         755  C.Tribulato 1279 (San Miguel)
4             10          3         479        Avenida Eva PerÃ³n 4215

  sucursales_tipo    sucursales_calle sucursales_numero sucursales_latitud  \
0    Autoservicio               Nazca              1944         -34.612145
1    Autoservicio               PerÃº               916         -34.618745
2    Supermercado            Calle 12              1200         -34.923011
3    Autoservicio         C Tribulato              1279         -34.541507
4    Autoservicio  Avenida Eva PerÃ³n              4215         -34.690047

  sucursales_longitud sucursales_observaciones  ... sucursales_codigo_postal  \
0          -58.480997                      NaN  ...                     1416
1          -58.374322                      NaN  ...                     1068
2          -57.949931                      NaN  ...                     1900
3          -58.713798                      NaN  ...                     1663
4          -58.689142                      NaN  ...                     1722

               sucursales_localidad sucursales_provincia  \
0  Ciudad AutÃ³noma de Buenos Aires                 AR-C
1  Ciudad AutÃ³noma de Buenos Aires                 AR-C
2                          La Plata                 AR-B
3                        San Miguel                 AR-B
4                             Merlo                 AR-B

  sucursales_lunes_horario_atencion sucursales_martes_horario_atencion  \
0                     08:00 a 20:00                      08:00 a 20:00
1                     07:00 a 20:00                      07:00 a 20:00
2                     08:00 a 20:00                      08:00 a 20:00
3                     07:00 A 22:00                      07:00 A 22:00
4                     07:30 a 20:00                      07:30 a 20:00

  sucursales_miercoles_horario_atencion sucursales_jueves_horario_atencion  \
0                         08:00 a 20:00                      08:00 a 20:00
1                         07:00 a 20:00                      07:00 a 20:00
2                         08:00 a 20:00                      08:00 a 20:00
3                         07:00 A 22:00                      07:00 A 22:00
4                         07:30 a 20:00                      07:30 a 20:00

  sucursales_viernes_horario_atencion sucursales_sabado_horario_atencion  \
0                       08:00 a 20:00                      08:00 a 20:00
1                       07:00 a 20:00                      07:00 a 20:00
2                       08:00 a 20:00                      08:00 a 20:00
3                       07:00 A 22:00                      07:00 A 22:00
4                       07:30 a 20:00                      07:30 a 20:00

  sucursales_domingo_horario_atencion
0                       10:30 a 20:00
1                       11:00 a 20:00
2                       09:00 a 20:00
3                       09:00 A 20:00
4                       10:00 a 19:00

[5 rows x 21 columns]

👉 Descripción estadística:
       ï»¿id_comercio id_bandera id_sucursal sucursales_nombre  \
count             568        567         567               567
unique              2          3         567               565
top                10          3         168         Caballito
freq              567        398           1                 2

       sucursales_tipo sucursales_calle sucursales_numero sucursales_latitud  \
count              567              567               563                567
unique               3              384               519                566
top       Autoservicio    Av. Rivadavia                 0         -34.591204
freq               371               14                 5                  2

       sucursales_longitud sucursales_observaciones  ...  \
count                  567                       18  ...
unique                 567                       18  ...
top             -65.303701              E/514 y 517  ...
freq                     1                        1  ...

       sucursales_codigo_postal              sucursales_localidad  \
count                       567                               567
unique                      213                               125
top                        1425  Ciudad AutÃ³noma de Buenos Aires
freq                         36                               327

       sucursales_provincia sucursales_lunes_horario_atencion  \
count                   567                               567
unique                   22                                15
top                    AR-C                     08:00 a 20:00
freq                    327                               279

       sucursales_martes_horario_atencion  \
count                                 567
unique                                 15
top                         08:00 a 20:00
freq                                  279

       sucursales_miercoles_horario_atencion  \
count                                    567
unique                                    15
top                            08:00 a 20:00
freq                                     279

       sucursales_jueves_horario_atencion sucursales_viernes_horario_atencion  \
count                                 567                                 567
unique                                 15                                  15
top                         08:00 a 20:00                       08:00 a 20:00
freq                                  279                                 279

       sucursales_sabado_horario_atencion sucursales_domingo_horario_atencion
count                                 567                                 567
unique                                 15                                  39
top                         08:00 a 20:00                       11:00 a 20:00
freq                                  278                                 211

[4 rows x 21 columns]

========================================
📊 Análisis del DataFrame: dato
========================================
👉 Columnas:
['age', 'workclass', 'education', 'marital-status', 'occupation', 'sex', 'capital-gain', 'hours-per-week', 'income']

👉 Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  object
 1   workclass       32561 non-null  object
 2   education       32561 non-null  object
 3   marital-status  32561 non-null  object
 4   occupation      32561 non-null  object
 5   sex             32561 non-null  object
 6   capital-gain    32561 non-null  object
 7   hours-per-week  32561 non-null  object
 8   income          32561 non-null  object
dtypes: object(9)
memory usage: 2.2+ MB

👉 Primeras filas:
  age          workclass   education       marital-status          occupation  \
0  39          State-gov   Bachelors        Never-married        Adm-clerical
1  50   Self-emp-not-inc   Bachelors   Married-civ-spouse     Exec-managerial
2  38            Private     HS-grad             Divorced   Handlers-cleaners